.Walks {
  .dog-banner {
    position: relative;
    height: 22em;
  }
  .walk-header {
    position: absolute;
    font-size: 3em;
    top: 6.5em;
    left: 1em;
    width: 100%;
    text-shadow: 3px 3px 3px grey;
  }
}